<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.georgkrause.depreciation"
    android:installLocation="auto"
    android:versionCode="0040207"
    android:versionName="0.4.2" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:smallScreens="true" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/activity_title_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".linear.CalculatorActivity"
            android:label="@string/activity_title_calculator" >
        </activity>
        <activity
            android:name=".linear.ResultActivity"
            android:label="@string/activity_title_result" >
        </activity>
        <activity
            android:name=".mixed.CalculatorActivity"
            android:label="@string/activity_title_calculator" >
        </activity>
        <activity
            android:name=".mixed.ResultActivity"
            android:label="@string/activity_title_result" >
        </activity>
    </application>

</manifest>